@Styles.Render("~/bundles/navigation/css");
<header class="header-navigation">
    <div class="container">
        <div class="navbar-header">
            <a href=#>
                <div class="logo">
                </div>
            </a>
        </div>
        <div id="navbar" class="navbar navbar-collapse navigation home-items">
            <ul class="home-navigation">
                <li><a href="#" class="menuItem">About Us</a></li>
                <li><a href="#" class="menuItem">Pricing</a></li>
                <li><a href="#" class="menuItem">Tutorial</a></li>
                <li><a href="#" class="menuItem">Sign In</a></li>
                <li>
                    <a href="#" id="menu-bar">
                        <div class="i-menu-icon">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>