<header class="header-navigation main">
    <div class="container">
        <div class="navbar-header">
            <a href=#>
                <div class="logo">
                </div>
            </a>
        </div>
        <div id="navbar" class="navbar navbar-collapse navigation home-items">
            <ul class="home-navigation">
                <li>
                    <a href="#" class="btn actionButton">
                        30-DAY <strong>FREE</strong> TRIAL
                    </a>
                </li>
                <li>
                    <a href="#" id="menu-bar">
                        <span class="menu-label">Menu</span>
                        <div class="i-menu-icon">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <p class="page-title">@ViewBag.PageHeading</p>
    </div>
</header>