@Styles.Render("~/bundles/animate/css")
@Styles.Render("~/bundles/side-bar/css")

<div id="side-bar" class="animated fadeInRight side-bar-content">
    <a href="#" class="side-menu-button">30-DAY <strong>FREE</strong> TRIAL</a>
    <a href="#" class="side-menu-button"><strong>BUY</strong> NOW</a>

    <ul class="side-list">
        <li class="side-list-item" data-page="Home"><a href="#">Home</a></li>
        <li class="side-list-item" data-page="Pricing"><a href="#"> Pricing</a></li>
        <li class="side-list-item" data-page="Tutorial"><a href="#">Tutorial</a></li>
        <li class="side-list-item" data-page="Blog"><a href="#">Blog</a></li>
        <li class="side-list-item" data-page="Support"><a href="#">Support</a></li>
        <li class="side-list-item" data-page="Sign In"><a href="#">Sign In</a></li>
    </ul>
</div>