@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/WebLayouts/RegisterLayout/_Register.cshtml";
}

@Styles.Render("~/bundles/signupcomponents/css")

<div class="container render-body">
    <div class="text-center m-b-md form-adjust" id="wizardControl">
        <ul class="wizardLine desktop-wizard">
            <li class="wizard-section activeSection"><a class="inactive-link" href="#step1" data-toggle="tab"><i class="fa fa-user"></i></a><div class="wizardSubtitle">User Information</div></li>
            <li class="wizard-section"><a class="inactive-link" href="#step2" data-toggle="tab"><i class="fa fa-folder"></i></a><div class="wizardSubtitle">Personal Information</div></li>
            <li class="wizard-section"><a class="inactive-link" href="#step3" data-toggle="tab"><i class="fa fa-check"></i></a><div class="wizardSubtitle">Summary Information</div></li>
        </ul> 
    </div>
</div>
<hr/>
<div class="sign-up-container">
    <h2 class="pre-header">Create your</h2>
    <h1 class="title-header">Titan account</h1>
</div>