@import "../Home/home.scss";
@import "navigation.scss";

.btn.nigmys-button {
    border-radius: 0px;
    border: 0px;
    width: 150px;
    margin-left: 7px;
    margin-left: 7px;

    -webkit-transition: all $transition-time;
    -o-transition: all $transition-time;
    transition: all $transition-time;

    &:hover {
        text-shadow: 0 0 10px $hover-color;
    }

    &.action-button {
        background-color: #fff;
        color: #000;

        @media screen and (max-width: 992px) {
            display: none;
        }
        
        &.inverse {
            background-color: #000;
            color: #fff;
        }

        &.sign-up {
            position: relative;
            display: inline-block;

            @media screen and (max-width: 382px) {
                width: 110px;
            }
        }
    }

    &.home-button {
        background-color: #212121;
        color: white;
        margin-top: 15px;

        @media screen and (max-width: 768px) {
            width: 125px;
            font-size: 12px;
        }
    }
}