/*Home Theme*/
/*Hover Variables*/
body.home {
  background-color: #5BC740; }

section.content {
  text-align: center; }

h1.homeMainHeader, h2.homeSubHeader {
  color: white;
  font-weight: 600;
  margin-bottom: 1px;
  margin-top: 1px; }

.homeMainHeader {
  font-size: 22px; }

.homeSubHeader {
  font-size: 14px; }

.btn.homeButton {
  background-color: #212121;
  border-radius: 0px;
  border: 0px;
  color: white;
  width: 150px;
  margin-top: 15px;
  margin-left: 7px;
  margin-right: 7px; }
  @media screen and (max-width: 768px) {
    .btn.homeButton {
      width: 125px;
      font-size: 12px; } }
  .btn.homeButton:hover {
    text-shadow: 0 0 10px #D8F5C6; }

@media screen and (min-width: 768px) {
  .homeMainHeader {
    font-size: 37px; }
  .homeSubHeader {
    font-size: 22px; } }

