article {
  width: 100%;
  height: 100%; }

.main-background {
  position: relative;
  background-color: white;
  opacity: 0.3;
  overflow: hidden; }
  .main-background::before {
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../../Images/main/skyline.jpg) no-repeat;
    display: block;
    position: absolute;
    content: ' ';
    background-size: cover;
    -webkit-filter: blur(5px); }

