/*Variables*/
/*Informal Logo Dimensions and Position*/
/*Formal Logo Dimensions and Position*/
/*URLS*/
/*Header Variables*/
/*Navigation Variables*/
/*Icon Variables*/
/*Menu Item Variables*/
/*Transition Variables*/
/*Hover Variables*/
body .side-bar-content *, header * {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

a div.logo {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../img/Sprites/Sprite-Sheet.png") no-repeat;
  background-size: 500px auto;
  background-position: -203px -55px;
  width: 75px;
  height: 70px;
  margin-left: 10px; }

header.header-navigation {
  padding-top: 12px;
  height: 90px; }
  @media screen and (min-width: 768px) {
    header.header-navigation {
      height: 110px; } }
  @media screen and (min-width: 979px) {
    header.header-navigation {
      height: 130px; } }
  header.header-navigation.main {
    background: url("../../Images/landing/header.jpg") no-repeat;
    background-position: 0px 77%;
    background-size: cover; }

a div.i-menu-icon {
  display: inline-block;
  width: 18px;
  height: 13px;
  background: url("../img/Sprites/Sprite-Sheet.png") no-repeat;
  background-size: 700px auto;
  background-position: -376px 2px; }

ul.home-navigation > li > a {
  vertical-align: middle; }
  ul.home-navigation > li > a.menuItem {
    font-size: 15px;
    font-weight: 600;
    color: white;
    text-transform: uppercase; }
  ul.home-navigation > li > a:hover, ul.home-navigation > li > a#menuBar {
    -webkit-filter: drop-shadow(1px 1px 4px #D8F5C6);
    filter: drop-shadow(1px 1px 4px #D8F5C6); }

span.menu-label {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  color: white; }

#navbar > ul.home-navigation > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px; }
  @media screen and (max-width: 376px) {
    #navbar > ul.home-navigation > li {
      margin-right: 0px; } }

#navbar > ul.home-navigation {
  display: inherit;
  padding-left: 0;
  list-style: none; }

div.home-items {
  margin-top: 8px; }

.navigation {
  display: inline-block;
  float: right; }

ul.home-navigation > li > a.menuItem {
  display: none; }

.navbar-header {
  float: left; }

#side-bar {
  background-color: #222;
  border-left: 1px solid #222;
  position: fixed;
  top: 0px;
  width: 260px !important;
  z-index: 1009;
  bottom: 0;
  right: 0;
  display: none; }

#side-bar.open-bar {
  display: block; }

div#side-bar > a.side-menu-button {
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  font-size: 12px;
  margin: 5px 0 20px 5px;
  display: inline-block;
  width: 150px;
  text-align: center; }
  div#side-bar > a.side-menu-button:hover {
    box-shadow: 0 0 10px #D8F5C6;
    text-shadow: 0 0 10px #D8F5C6; }

.side-bar-content {
  padding: 30px 30px 0px 30px; }

ul.side-list {
  list-style: none;
  padding-left: 15px; }

.side-list-item {
  margin-bottom: 8px; }
  .side-list-item > a {
    position: relative;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    font-weight: 600; }
  .side-list-item > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #5BC740;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .side-list-item > a.selected {
    color: #5EE63D; }
  .side-list-item > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

.active-side-bar {
  overflow: hidden; }

p.page-title {
  text-transform: uppercase;
  position: absolute;
  line-height: 100%;
  font-weight: 600;
  font-size: 2.0em;
  color: white;
  top: 1.45em;
  left: 25%;
  width: 50%;
  text-align: center;
  -webkit-filter: drop-shadow(1px 1px 9px #000);
  filter: drop-shadow(1px 1px 9px #000); }
  @media screen and (min-width: 979px) {
    p.page-title {
      font-size: 2.4em; } }
  @media screen and (min-width: 767px) and (max-width: 979px) {
    p.page-title {
      left: 30%; } }

.btn.actionButton {
  background-color: #fff;
  border-radius: 0px;
  border: 0px;
  color: #000;
  width: 150px;
  margin-left: 7px;
  margin-right: 7px; }
  @media screen and (max-width: 992px) {
    .btn.actionButton {
      display: none; } }
  .btn.actionButton:hover {
    text-shadow: 0 0 10px #D8F5C6; }
  .btn.actionButton.inverse {
    background-color: #000;
    color: #fff; }
  .btn.actionButton.sign-up {
    position: relative;
    display: inline-block; }
    @media screen and (max-width: 382px) {
      .btn.actionButton.sign-up {
        width: 110px; } }

.home-icon {
  font-size: 2em;
  color: white;
  -webkit-filter: drop-shadow(1px 1px 9px #000);
  filter: drop-shadow(1px 1px 9px #000); }

@media screen and (min-width: 768px) {
  a div.logo {
    background: url("../img/Sprites/Sprite-Sheet.png") no-repeat;
    background-position: 0 -75px;
    background-size: 650px auto;
    width: 270px; }
  ul.home-navigation > li > a.menuItem {
    display: inline-block; }
  div.home-items {
    margin-top: 10px; } }

