@{
    ViewBag.Title = "Sign In";
    ViewBag.PageHeading = "Sign In";
    Layout = "~/Views/Shared/WebLayouts/MainLayout/_Main.cshtml";
}

<div class="container render-body" data-page="Sign In">

</div>