@{
    ViewBag.Title = "Sign In";
    ViewBag.PageHeading = "Sign In";
    Layout = "~/Views/Shared/WebLayouts/RegisterLayout/_Register.cshtml";
}

<div class="container render-body">
    <div class="center-container">
        <h2 class="pre-header">Sign In to your</h2>
        <h1 class="title-header">Titan account</h1>
        <h5 class="subline">Or sign up for a <a href="#" class="sign-up-link">30-DAY FREE TRIAL</a> now!</h5>
    </div>
</div>
