@{
    ViewBag.Title = "Add New Investment";
}

@section Scripts {
    @Scripts.Render("~/bundles/add-new-investment/js")
}

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12 text-center m-t-md">
            <h2>
                Add New Investment
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="purchaseInformation">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Purchase Information
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="form-group col-lg-2">
                                        <label for="purchasePrice">Purchase Price</label>
                                        <input type="text" value="" id="purchasePrice" class="form-control" name="purchasePrice" placeholder="$0.00">
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label for="marketPrice">Market Price</label>
                                        <input type="text" value="" id="marketPrice" class="form-control" name="marketPrice" placeholder="$0.00">
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label for="landValue">Land Value</label>
                                        <input type="text" value="" id="landValue" class="form-control" name="landValue" placeholder="$0.00">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-2">
                                        <label for="closingCost">Closing Cost</label>
                                        <input type="text" value="" id="closingCost" class="form-control" name="closingCost" placeholder="$0.00">
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label for="rehabCost">Rehab Cost</label>
                                        <input type="text" value="" id="rehabCost" class="form-control" name="rehabCost" placeholder="$0.00">
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label for="holdoverCost">Holdover Cost</label>
                                        <input type="text" value="" id="holdoverCost" class="form-control" name="holdoverCost" placeholder="$0.00">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-8">
                                        <div class="row">
                                            <label>Other Costs</label>
                                        </div>
                                        <div class="row" id="addOtherCostLinkRow">
                                            <a href="#" id="addOtherCostLink">Add Other Cost</a>
                                        </div>
                                        @*<input type="text" value="" id="otherCost" class="form-control" name="otherCost" placeholder="$0.00">*@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-4">
                                        <label for="purchaseDate">Purchase Date</label>
                                        <input type="date" value="" id="purchaseDate" class="form-control" name="purchaseDate">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Debt Partners
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div class="col-lg-12">

                                <div class="row" id="addDebtPartnerLinkRow">
                                    <a href="#" id="addDebtPartnerLink">Add Debt Partner</a>
                                </div>
                                <div class="row" id="downPaymentRow">
                                    <h4>
                                        <label for="downPayment">Down Payment: </label>
                                        <label id="downPayment" name="downPayment">$0.00</label>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Equity Partners
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <div class="col-lg-12">

                                <div class="row" id="addEquityPartnerLinkRow">
                                    <a href="#" id="addEquityPartnerLink">Add Equity Partner</a>
                                </div>
                                <div class="row" id="downPaymentRow">
                                    <h4>
                                        <label for="downPayment">Down Payment: </label>
                                        <label id="downPayment" name="downPayment">$0.00</label>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Property Information
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="form-group col-lg-10">
                                        <label for="address">Address</label>
                                        <input type="text" value="" id="address" class="form-control" name="address" placeholder="" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-4">
                                        <label for="marketPrice">City</label>
                                        <input type="text" value="" id="city" class="form-control" name="city" placeholder="$0.00" />
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label for="state">State</label>
                                        <input type="text" value="" id="state" class="form-control" name="state" placeholder="$0.00" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-2">
                                        <label for="bedrooms">Bedrooms</label>
                                        <input type="text" value="" id="bedrooms" name="bedrooms" class="form-control" />
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label for="baths">Baths</label>
                                        <input type="text" value="" id="baths" name="baths" class="form-control" />
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label for="squareFootage">Sq. Footage</label>
                                        <input type="text" value="" id="squareFootage" name="squareFootage" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-4">
                                        <h4>

                                            <label for="pricePerSqFoot">Price/Sq. Foot</label>
                                            <label id="pricePerSqFoot">$0.00</label>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-4">
            <h3>
                <label for="totalInvestmentCost">Total Investment Cost: </label>
                <label id="totalInvestmentCost" name="totalInvestmentCost">$0.00</label>
            </h3>
            @*<input type="text" value="" id="totalInvestmentCost" class="form-control" name="totalInvestmentCost" placeholder="$0.00" readonly>*@
        </div>
        <div class="form-group col-lg-4 pull-right">
            <button type="button" class="btn btn-lg pull-right btn-success" id="submitButton">Submit</button>
        </div>
    </div>
</div>


