@{
    ViewBag.Title = "Add New Investment";
}

@section Scripts {
    @Scripts.Render("~/bundles/validation/js")
    @Scripts.Render("~/bundles/add-new-investment/js")
}

<div class="content">
    <div class="row">
        <div class="col-lg-12 text-center m-t-md">
            <h2>
                Add New Investment
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center m-b-md">
                        <a class="btn btn-primary" href="#step1" data-toggle="tab">Purchase Information</a>
                        <a class="btn btn-default" href="#step2" data-toggle="tab">Income/Expenses</a>
                        <a class="btn btn-default" href="#step3" data-toggle="tab">Potential Return</a>
                        <a class="btn btn-default" href="#step4" data-toggle="tab">Review</a>
                    </div>
                    <div class="tab-content">
                        <div id="step1" class="p-m tab-pane active">
                                <div class="row">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="purchaseInformation">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        Purchase Information
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <form id="purchaseInformationForm">
                                                        <div class="row">
                                                            <div class="form-group col-lg-2">
                                                                <label for="purchasePrice">Purchase Price</label>
                                                                <input type="text" value="" id="purchasePrice" class="form-control" name="purchasePrice" placeholder="$0.00">
                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                <label for="marketPrice">Market Price</label>
                                                                <input type="text" value="" id="marketPrice" class="form-control" name="marketPrice" placeholder="$0.00">
                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                <label for="landValue">Land Value</label>
                                                                <input type="text" value="" id="landValue" class="form-control" name="landValue" placeholder="$0.00">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-lg-2">
                                                                <label for="closingCost">Closing Cost</label>
                                                                <input type="text" value="" id="closingCost" class="form-control costItemAmount" name="closingCost" placeholder="$0.00">
                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                <label for="rehabCost">Rehab Cost</label>
                                                                <input type="text" value="" id="rehabCost" class="form-control costItemAmount" name="rehabCost" placeholder="$0.00">
                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                <label for="holdoverCost">Holdover Cost</label>
                                                                <input type="text" value="" id="holdoverCost" class="form-control costItemAmount" name="holdoverCost" placeholder="$0.00">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-lg-8">
                                                                <div class="row">
                                                                    <label>Other Costs</label>
                                                                </div>
                                                                <div class="row" id="addOtherCostLinkRow">
                                                                    <a href="#" id="addOtherCostLink">Add Other Cost</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-lg-4">
                                                                <label for="purchaseDate">Purchase Date</label>
                                                                <input type="date" value="" id="purchaseDate" class="form-control" name="purchaseDate">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        Debt Partners
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                    <form id="debtPartnersForm">
                                                        <div class="row" id="addDebtPartnerLinkRow">
                                                            <a href="#" id="addDebtPartnerLink">Add Debt Partner</a>
                                                        </div>
                                                        <div class="row" id="downPaymentRow">
                                                            <h4>
                                                                <label for="downPayment">Down Payment: </label>
                                                                <label class="downPayment">$0.00</label>
                                                            </h4>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        Equity Partners
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    <form id="equityPartnerForm">
                                                        <div class="row" id="addEquityPartnerLinkRow">
                                                            <a href="#" id="addEquityPartnerLink">Add Equity Partner</a>
                                                        </div>
                                                        <div class="row" id="downPaymentRow">
                                                            <h4>
                                                                <label for="downPayment">Down Payment: </label>
                                                                <label class="downPayment">$0.00</label>
                                                            </h4>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingFour">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                        Depreciation Items
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                                <div class="panel-body">
                                                    <form id="depreciationItemForm">
                                                        <div class="row" id="addDepreciationLinkRow">
                                                            <a href="#" id="addDepreciationLink">Add Depreciation Item</a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingFive">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                        Property Information
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                                <div class="panel-body">
                                                    <form id="propertyInformationForm">
                                                        <div class="row">
                                                            <div class="form-group col-lg-10">
                                                                <label for="address">Address</label>
                                                                <input type="text" value="" id="address" class="form-control" name="address" placeholder="" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-lg-4">
                                                                <label for="marketPrice">City</label>
                                                                <input type="text" value="" id="city" class="form-control" name="city" placeholder="" />
                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                <label for="state">State</label>
                                                                <input type="text" value="" id="state" class="form-control" name="state" placeholder="" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-lg-2">
                                                                <label for="bedrooms">Bedrooms</label>
                                                                <input type="text" value="" id="bedrooms" name="bedrooms" class="form-control" />
                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                <label for="baths">Baths</label>
                                                                <input type="text" value="" id="baths" name="baths" class="form-control" />
                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                <label for="squareFootage">Sq. Footage</label>
                                                                <input type="text" value="" id="squareFootage" name="squareFootage" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <div class="row">
                                                        <div class="form-group col-lg-4">
                                                            <h4>

                                                                <label for="pricePerSqFoot">Price/Sq. Foot</label>
                                                                <label id="pricePerSqFoot">$0.00</label>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-4">
                                        <h4>
                                            <label for="totalInvestmentCost">Total Investment Cost: </label>
                                            <label id="totalInvestmentCost" name="totalInvestmentCost">$0.00</label>
                                        </h4>
                                    </div>
                                    <div class="text-right m-t-xs">
                                        <a id="purchaseInformationNext" class="btn btn-default" href="#">Next</a>
                                    </div>
                                </div>
                        </div>
                        <div id="step2" class="p-m tab-pane">
                            <div class="row">
                                <div class="hpanel">
                                    <div class="panel-heading">
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <a href="#">Add Income Item</a>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <a href="#">Add Expense Item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <h4>
                                        <label for="totalIncome">Total Income: </label>
                                        <label id="totalIncome">$0.00</label>
                                    </h4>
                                </div>
                                <div class="col-lg-4">
                                    <h4>
                                        <label for="totalExpenses">Total Expenses: </label>
                                        <label id="totalExpenses">$0.00</label>
                                    </h4>
                                </div>
                                <div class="text-right m-t-xs">
                                    <a class="btn btn-default prev" href="#">Previous</a>
                                    <a class="btn btn-default next" href="#">Next</a>
                                </div>
                            </div>
                        </div>
                        <div id="step3" class="p-m tab-pane">
                            <form id="potentialReturnForm">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label for="annualAppreciationRate">Annual Appreciation Rate</label>
                                        <input type="text" class="form-control" id="annualAppreciationRate" name="annualAppreciationRate" placeholder="%0.00" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label for="capitalGainsTax">Capital Gains Tax</label>
                                        <input type="text" class="form-control" id="capitalGainsTax" name="capitalGainsTax" placeholder="%0.00" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label for="incomeTaxRate">Income Tax Rate</label>
                                        <input type="text" class="form-control" id="incomeTaxRate" name="incomeTaxRate" placeholder="%0.00" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label for="discountRate">Discount Rate</label>
                                        <input type="text" class="form-control" id="discountRate" name="discountRate" placeholder="%0.00" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label for="salesCommission">Sales Commission</label>
                                        <input type="text" class="form-control" id="salesCommission" name="salesCommission" placeholder="%0.00" />
                                    </div>
                                </div>
                                <div class="text-right m-t-xs">
                                    <a class="btn btn-default prev" href="#">Previous</a>
                                    <a id="potentialReturnNext" class="btn btn-default" href="#">Next</a>
                                </div>
                            </form>
                        </div>
                        <div id="step4" class="p-m tab-pane">
                            <div class="row">
                                There's nothing here yet.
                            </div>
                            <div class="text-right m-t-xs">
                                <a class="btn btn-default prev" href="#">Previous</a>
                                <a class="btn btn-success submit" href="#">Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


