@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Home.cshtml";
} 
<div class="container">
    <section class="content">
        <h1 class="homeMainHeader">TITAN ANALYZER</h1>
        <h1 class="homeMainHeader">REAL ESTATE INVESTING</h1>
        <h2 class="homeSubHeader">Manage, Analyze, and Project</h2>
        <a href="#" class="btn btn-default freeTrialButton homeTrialButton" >
            30-DAY <strong>FREE</strong> TRIAL
        </a>
    </section>
</div>
