@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/WebLayouts/HomeLayout/_Home.cshtml";
}
@section Styles {
    @Styles.Render("~/bundles/home/css")
    @Styles.Render("~/bundles/buttons/css")
}

<div class="container render-body" data-page="Home">
    <section class="content">
        <h1 class="homeMainHeader">TITAN ANALYZER</h1>
        <h1 class="homeMainHeader">REAL ESTATE INVESTING</h1>
        <h2 class="homeSubHeader">Manage, Analyze, and Project</h2>
        <a href="#" class="btn nigmys-button home-button" >
            30-DAY <strong>FREE</strong> TRIAL
        </a>
        <a href="#" class="btn nigmys-button home-button">
           <strong>BUY</strong> NOW
        </a>
    </section>
</div>
