@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/WebLayouts/HomeLayout/_Home.cshtml";
}

@Styles.Render("~/bundles/home/css")
<div class="container render-body" data-page="Home">
    <section class="content">
        <h1 class="homeMainHeader">TITAN ANALYZER</h1>
        <h1 class="homeMainHeader">REAL ESTATE INVESTING</h1>
        <h2 class="homeSubHeader">Manage, Analyze, and Project</h2>
        <a href="#" class="btn btn-default homeButton" >
            30-DAY <strong>FREE</strong> TRIAL
        </a>
        <a href="#" class="btn btn-default homeButton">
           <strong>BUY</strong> NOW
        </a>
    </section>
</div>
