@{ 
    ViewBag.Title = "Investments";
}
@Styles.Render("~/bundles/investment-list/css")

@section Scripts{
    @Scripts.Render("~/bundles/investment-list/js")    
}

    <div class="container center-block">
        <h2>Investment List</h2>
        <p>Here are all of your current property investments:</p>
        <div class="col-lg-offset-3 col-md-offset-3 investment-search">
            <input type="text" class="form-control" id="search_bar" placeholder="Search Investments..." style="width:60%;">
        </div>

        <div class="hpanel">
            <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip Code</th>
                        <th>Bed</th>
                        <th>Bath</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="address">6015 S Hardy Drive</td>
                        <td>Tempe</td>
                        <td>AZ</td>
                        <td>85281</td>
                        <td>2</td>
                        <td>1</td>
                        <td id="appreciation" class="quickClick" align="center"><span class="glyphicon glyphicon-dashboard"/></td>
                        <td id="projection" class="quickClick" align="center"><span class="glyphicon glyphicon-signal"/></td>
                        <td id="sale" class="quickClick" align="center"><span class="glyphicon glyphicon-usd"/></td>
                        <td id="archive" class="quickClick" align="center"><span class="glyphicon glyphicon-remove"/></td>
                    </tr>
                    <tr>
                        <td id="address">1204 W Elna Rae</td>
                        <td>Tempe</td>
                        <td>AZ</td>
                        <td>85282</td>
                        <td>4</td>
                        <td>2</td>
                        <td id="appreciation" class="quickClick" align="center"><span class="glyphicon glyphicon-dashboard"/></td>
                        <td id="projection" class="quickClick" align="center"><span class="glyphicon glyphicon-signal"/></td>
                        <td id="sale" class="quickClick" align="center"><span class="glyphicon glyphicon-usd"/></td>
                        <td id="archive" class="quickClick" align="center"><span class="glyphicon glyphicon-remove"/></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
