.form-adjust {
  margin-top: 25px; }

.sign-up-container {
  margin: 20px auto 0px auto;
  max-width: 500px;
  padding: 10px; }

hr {
  display: block;
  max-width: 380px;
  position: relative;
  border-color: #34495e;
  right: 10px;
  top: 15px;
  opacity: 0.4; }

